<% include ./partials/header.ejs %>
<div class="main h-screen w-full bg-zinc-800 flex justify-center items-center">
    <div class="dets w-[50vw] h-[80vh] rounded-lg bg-slate-500 mt-3">
        <img src="" alt="">
    </div>
</div>
<% include ./partials/footer.ejs %>